/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0d47a1;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #0d47a1;
  box-shadow: 0 1px 0 0 #000;
}

.btn-hapus-lokasi-123{
	display:none;
}
