.box-btn-gambar{
	float: left;
	width: 150px;
	background: #fafafa;
	height: 150px;
	padding:1px;
	position: relative;
}

.box-btn-gambar .btn-hapus{
	position: absolute;
	top:10px;
	right:10px;
}

.read-kegiatan-images img{
	padding:1px;
}


.btn-hapus-lokasi-saat-edit,
.btn-hapus-lokasi-123{
	display:none;
}

.box-lokasi .btn-hapus-lokasi-saat-edit,
.box-lokasi .btn-hapus-lokasi-123{
	display:block;
}
.fa-question-circle:before {
    color: #cbc8c8;
}